@import 'nullstyle.scss';
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;400&display=swap');

.wrapper {
    font-family: Oswald;
    font-weight: 300;
    color: #fff;
    min-height: 100%;
}

.container {
    padding: 0 10px;
    max-width: 1220px;
    margin: 0 auto;
}

.button {
    padding: 15px 55px;
    background-color: #5A0D67;
    font-size: 14px;
    font-weight: 300;
    font-style: normal;
    text-transform: uppercase;
    cursor: pointer;
    transition: all .5s;

    &:hover {
        color: #5A0D67;
        background-color: #fff;
    }
}

.button--decor {
    position: relative;
    margin-top: -7px;

    &::before {
        content: '';
        position: absolute;
        width: 80px;
        height: 2px;
        right: -73px;
        top: 21px;
        background-color: #C4C4C4;
    }

    &::after {
        content: 'ЖМИ';
        position: absolute;
        color: #C4C4C4;
        font-size: 14px;
        font-weight: 300;
        text-transform: uppercase;
        right: -110px;
    }  
}


.title {
    font-family: Oswald;
    font-size: 36px;
    font-weight: 400;
    text-transform: uppercase;
    position: relative;
    color: #21062A;
    margin-bottom: 50px;

    &::after {
        content: '';
        position: absolute;
        height: 3px;
        width: 80px;
        background-color: #21062A;
        top: 14px;
        margin-left: 20px;
    }
}

.social {
    margin: 70px 0 20px 66px;
    display: flex;
    align-items: center;
    gap: 10px;
    transition: all .5s;

    & .social__icon:hover {
        filter: invert(12%) sepia(45%) saturate(5106%) hue-rotate(281deg) brightness(90%) contrast(104%);
    }
}
