@import 'nullstyle.scss';
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;400&display=swap');


@media (max-width: 1140px) {
    .services__item:hover {
        width: 450px;
    }
}

@media (max-width: 1024px) {
    .header__car {
        width: 80%;
    }

    .services {
        & .container {
            padding-top: 250px;
        }
    }

    .services__inner {
        flex-wrap: wrap;
    }

    .services__list {
        order: -1;
        width: 100%;
        margin-bottom: 18px;
    }

    .services__item {
        width: 100%;

        &:hover {
            width: 100%;
        }
    }

    .services__content {
        max-width: 100%;
        margin-right: 0;
    }

    .services__content-text {
        font-size: 17px;
    }

    .benefits__image {
        display: none;
    }

}

@media (max-width: 900px) {

    .carousel {
        padding-bottom: 0;
    }

    .header__phone {
        font-size: 24px;
        line-height: 36px;
    }

    .header__title {
        font-size: 54px;
        line-height: 74px;
    }

    .header__subtitle {
        font-size: 26px;
        line-height: 36px;
    }

    .header__text {
        font-size: 14px;
    }

    .header__social {
        margin: 30px 0 20px 65px;
    }

    .contacts__inner {
        text-align: center;
        display: block;
    }

    .contacts__list {
        margin-bottom: 30px;
    }

    .contacts__title {
        margin-left: 0;
    }

    .contacts__input {
        width: 100%;
    }

    .contacts__btn {
        margin-top: 20px;
    }
}

@media (max-width: 768px) {

    .services {
        & .container {
            padding-bottom: 0;
        }
    }

    .benefits {
        & .container {
            padding-top: 50px;
        }
    }

    .benefits__inner {
        text-align: center;
    }

    .benefits__list {
        margin-left: 0;
        padding: 25px 15px;
    }

    .benefits__item {
        width: 100%;
    }

    .benefits__title {
        margin-left: 0;

        &::after {
            display: none;
        }
    }
}

@media (max-width: 650px) {
    .footer__inner {
        flex-wrap: wrap;
        justify-content: center;
        height: auto;
        padding: 20px 0;
        text-align: center;
    }

    .footer__social {
        margin: 25px 0;
        justify-content: center;
        width: 100%;
    }
}


@media (max-width: 600px) {

    .wrapper {
        font-size: 16px;
        line-height: 22px;
    }

    .header__content {
        padding-top: 0;
        text-align: center;
    }

    .header__social {
        margin: 30px 0 20px 0;
    }

    .social {
        justify-content: center;
    }

    .services {
        & .container {
            padding-top: 150px;
        }

        & .title {
            font-size: 28px;
            line-height: 36px;
            margin-bottom: 30px;
            text-align: center;

            &::after {
                display: none;
            }
        }
    }

    .services__content {
        text-align: center;
    }

    .services__item::before {
        top: 20px;
    }

    .benefits__item-num {
        font-size: 28px;
        line-height: 36px;
    }

    .carousel__item-img {
        width: 100%;
    }
}

@media (max-width: 520px) {

    .logo {
        width: 100%;
        margin-bottom: 10px;
    }

    .header__top {
        flex-wrap: wrap;
        justify-content: center;
        text-align: center;
    }

    .header__title {
        margin-bottom: 10px;
    }

    .header__subtitle {
        font-size: 20px;
    }

    .header__text {
        font-size: 17px;
    }

    .header__car {
        position: static;
        width: 100%;
    }

    .services {
        & .container {
            padding-top: 50px;
        }
    }

    .services__inner {
        margin-bottom: 50px;
    }

    .benefits {
        margin-bottom: 50px;
    }

    .services__item {
        padding: 10px 15px 10px 60px;

        &::before {
            left: 11px;
        }
    }

    .services__item-text {
        font-size: 15px;
    }

    .button--decor {
        &::before {
            display: none;
        }

        &::after {
            display: none;       
        }
    }

    .carousel {
        .slick-dots {

            & .slick-active button {
                width: 10px;
            }

            & button {
                width: 10px;
            }
        }
    }  

    .title {
        &::after {
            display: none;
        }
    }

    .contacts__form {
        padding: 50px 10px 57px;
    }
}

@media (max-width: 458px) {
    .header__title {
        font-size: 44px;
        line-height: 50px;
    }

    .services__item-text {
        font-size: 12px;
        line-height: 15px;
    }
}

@media (max-width: 396px) {
    .carousel {
        & .title {
            text-align: center;
            font-size: 30px;
        }
    }
}

@media (max-width: 340px) {
    .header__title {
        font-size: 44px;
        line-height: 50px;
    }
}